.about {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem;
  box-sizing: border-box;
}

.about-heading {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.about-heading h1 {
  font-size: 83px;
  font-weight: 800;
  line-height: 85px;
  color: #1c2d47;
}
.about-comma {
  color: red;
}

.sumon-color {
  font-weight: 900;
  font-size: 94px;
  color: #0be6d0;
  text-shadow: 2px 2px 0px #1c2d47;
}

.last-head {
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px 2px 0px #0be6d0;
}

.about-img {
  /* flex: 1; */
  display: flex;
  height: 50%;
  margin-left: -15rem;
}

.about-img img {
  width: 400px;
  /* padding-bottom: 10rem; */
  /* height: 100%; */
}

.typed-text-container {
  min-height: 160px;
}

.typed-text {
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  word-spacing: 2px;
  text-align: justify;
}

.about-button {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
}
.social-container {
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
}

.social {
  display: flex;
  justify-content: flex-end;
  margin-left: 10rem;
  margin-top: 1rem;
}
.social div {
  margin-right: 10rem;
}
.social svg {
  scale: 2;
  color: #000;
}
.social svg:hover {
  animation: social-icon 0.3s ease-in-out forwards;
  animation-fill-mode: forwards;
}
.social svg:not(:hover) {
  animation: social-noicon 0.3s ease-in-out forwards;
  animation-fill-mode: forwards;
}

@keyframes social-icon {
  from {
    scale: 2;
  }
  to {
    scale: 2.5;
  }
}
@keyframes social-noicon {
  from {
    scale: 2.5;
  }
  to {
    scale: 2;
  }
}

.about-button-style {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 2px solid #000;
  border-radius: 0px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 900;
  color: black;
  gap: 10px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.14s ease-out;
  white-space: nowrap;
}
.about-button-style:hover {
  box-shadow: -4px -4px 0 #000;
  transform: translate(4px, 4px);
}
.about-button-style:focus-visible {
  outline-offset: 1px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 50%;
  height: 50%;
}

.modal-content form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}

.form-container {
  position: relative;
  background-color: rgb(174, 222, 238);
  border-radius: 10px;
}
.form-group {
  margin-bottom: 2rem;
}

.form-group input {
  width: clamp(120px, 50vw, 420px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0.625rem auto;
  transition: all 250ms;
}

.form-group label {
  padding: 0 2rem;
  font-size: larger;
  font-weight: 900;
  color: #1c2d47;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* .form-group-submit { */
/* Adjust styles for the submit button as needed */
/* } */

.modal-open {
  display: block;
}

@media screen and (max-width: 1620px) {
  .about {
    flex-direction: column;
  }
  .typed-text {
    max-width: 1200px;
  }
  .about-img {
    display: flex;
    align-items: center;
    margin: 4rem 0rem;
    justify-content: center;
  }
  .about-img img {
    width: 550px;
  }
  .social {
    margin-left: 4rem;
    margin-top: 1rem;
  }
  .social div {
    margin-right: 4rem;
  }
}

@media screen and (max-width: 980px) {
  .about-heading h1 {
    font-size: 53px;
    font-weight: 800;
    line-height: 65px;
  }

  .sumon-color {
    font-weight: 900;
    font-size: 74px;
    color: #0be6d0;
    text-shadow: 2px 2px 0px #1c2d47;
  }
  .social {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  .about {
    padding: 2rem 4rem;
  }
  .about-img img {
    width: 350px;
  }
}

@media screen and (max-width: 550px) {
  .about {
    padding: 2rem 2rem;
  }
  .about-heading h1 {
    font-size: 33px;
    font-weight: 800;
    line-height: 45px;
  }
  .sumon-color {
    font-weight: 900;
    font-size: 44px;
    color: #0be6d0;
    text-shadow: 2px 2px 0px #1c2d47;
  }
  .about-img img {
    width: 300px;
  }
  .typed-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 340px) {
  .about-img img {
    width: 200px;
  }
}
